.instructions__container {
    min-width: 100vw;
    min-height: 100vh;
    background-color: #FAFCFF;
    display: flex;
    justify-content: space-evenly;
}

.instructions__wrapper {
    min-width: 30vw;
}