/* Colors */
$white: #fff;
$black: #000;

/* Entry Screen */
$entry-screen-bg: #F3F3F3;

/* Dashboard */
$dashboard-bg: #F5F7F8;
$dashboard-text: #655e5d;
$dashboard-pressed: #0056d1;
$dashboard-hover: #fafcff;
