// Override default variables before the import
$body-bg: #F3F3F3;
$body-color: #181313;

$primary: #0056D1;
$secondary: #382C8B;

$input-padding-y: 16px;
$input-padding-x: 16px;
$input-font-size: 14px;
$input-font-weight: 600;
$input-bg: white;
$input-color: #655E5D;
$input-border-radius: 0;
$input-border-color: #CCDDF5;
$input-border-width: 2px;
$input-focus-border-color: $primary;

$btn-padding-y: 12px;
$btn-font-size: 14px;
$btn-font-weight: 600;
$btn-border-radius: 8px;

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';
