@import "../config/font";
@import "../config/colors";

.dash__container {
  background-color: $dashboard-bg;
  min-height: 100vh;
}

.section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  &--top {
    min-height: 30vh;
  }
  &--bottom {
    min-height: 35vh;
  }
}

.inner__wrapper {
  background-color: $white;
  width: 100%;
  margin-top: 1.5rem;
  &--top {
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &--bottom {
    min-height: 35vh;
  }
}

.column--left {
  width: 60%;
  padding: 2rem;
}
.column--right {
  width: 40%;
  padding: 2rem 2rem 2rem 0;
}

#column--notitle {
  padding-top: 4rem;
}

#img--updates {
  margin-top: 3rem;
  max-width: 162px;
  max-height: 146px;
}
#img--progress {
  margin-top: 4rem;
  max-width: 310px;
  max-height: 116px;
}

.line {
  border-bottom: 0.5px solid #e5e5e5;
  padding: 1rem;
}

.inner__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  h5 {
    margin-bottom: 2px;
  }
}

.nav__pastexams {
  min-width: 60%;
  display: flex;
  justify-content: space-evenly;
  a {
    text-decoration: none;
    font-family: $font;
    font-size: $small;
    line-height: 18px;
    vertical-align: Center;
    color: #969696;
  }
}

.h5__line {
  font-family: $font;
  font-size: $x-medium;
  line-height: 21px;
  vertical-align: Center;
  color: $dashboard-text;
}

.p__text {
  padding: 2rem;
  font-family: $font;
  font-size: $small;
  line-height: 21px;
  vertical-align: Center;
  color: $dashboard-text;
}

.title {
  font-family: $font;
  font-size: $s-high;
  line-height: 32px;
  vertical-align: Center;
  color: $dashboard-text;
}
