@import "../../../scss/config/font";
@import "../../../scss/config/colors";

.modal {
    top: calc(100% / 4);
}

.modal__container {
    padding: 1rem;
    display: flex;
    width: 50vw !important;
    min-height: 22vh;
}

.modal-header {
    padding-top: 2rem;
    padding-bottom: 1.5rem;
    border-bottom: none;
    .modal-title {
        font-family: $font;
        font-size: $s-high;
        line-height: 32px;
        color: #181313;
    }
}

.modal-body {
    font-family: $font;
        font-size: $medium;
        line-height: 24px;
        color: $dashboard-text;
}

.modal-footer {
    padding-top: 2rem;
    border-top: none;
    justify-content: flex-start;
}

div.fade.in.modal {
    display:flex !important;
  }
  
.modal-dialog {
    display: flex;
    justify-content: center;
}

.modal-content {
    width: 50vw !important;
    border-radius: 8px;
}

#img__congratulations {
    max-height: 281px;
    padding: 1rem 2rem 0 1rem;
}

.column__left {
    display: flex;
    flex-direction: column;
    max-width: 75%;
}