@import './../../scss/custom.scss';

.entry-screen {
  h1 {
    margin: 50px 0;
  }

  a {
    text-decoration: none;
  }

  strong {
    font-weight: 600;
    a {
      color: $grey;
      &:hover {
        color: $primary;
      }
    }
  }

  .eye-icon {
    cursor: pointer;
    right: 16px;
  }

  .password-checkbox {
    margin-left: 10px;
  }
}
