@import './../../scss/custom.scss';
@import './../../scss/config/_colors.scss';

.entry-screen {
  flex-grow: 1;
  background-color: $entry-screen-bg;

  h1 {
    margin: 50px 0;
  }

  a {
    text-decoration: none;
  }

  strong {
    font-weight: 600;
    a {
      color: $grey;
      &:hover {
        color: $primary;
      }
    }
  }

  .eye-icon {
    cursor: pointer;
    right: 16px;
  }

  .password-checkbox {
    margin-left: 10px;
  }

  .form-text.error {
    color: #E55565;
    font-size: 12px;
  }
}
