/* Fonts */
$w-small: 0.688rem !default; //11px
$x-small: 0.75rem !default; //12px
$s-small: 0.813rem !default; //13px
$small: 0.875rem !default; //14px
$x-medium: 1rem !default; //16px
$medium: 1.125rem !default; //18px
$x-high: 1.25rem !default; //20px
$s-high: 1.375rem !default; //22px
$m-high: 1.625rem !default; //26px
$l-high: 1.688rem !default; //26px
$high: 1.75rem !default; //28px

$font: "Poppins";
